@charset "UTF-8";
/*mixin loader*/
.loader::after {
  width: 100px;
  height: 100px;
  content: "";
  border: 9px solid #ddd;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: loading 2s ease-in-out forwards;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1160deg);
  }
}
/*disparition de la page pendant l'attente du loading*/
.page-disparition-for-animation-loader {
  opacity: 1;
  width: 100%;
  height: 100%;
  animation: disparition 3s ease-in;
}

@keyframes disparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*mixin heart*/
/*mixin ellipsis*/
/*mixin check*/
/*mixin animation plats*/
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*importation police texte*/
p,
ul,
.title-section,
.entry-plate-dessert-title {
  font-family: "Roboto", sans-serif;
}

/*importation police logo et titres*/
.logo,
.footer-ohmyfood-logo,
.page-ohmyfood-logo,
h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

/*taille titre menu*/
.title-menu {
  font-size: 27px;
}

/*taille et couleur title-section*/
.title-section {
  font-size: 18px;
  color: gray;
}

/*taille plats*/
.entry-plate-dessert-title {
  font-size: 18px;
}

/*bouton explorer*/
.explore {
  margin: 30px 70px;
  cursor: pointer;
  padding: 15px;
  border: none;
  color: white;
  font-weight: 600;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 2px 5px 16px 0px #888b8e;
  transition: all 500ms ease-in-out;
}
.explore:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 2px 5px 16px 0px #545657;
}

/*boutton commander*/
.command {
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 3px 10px 3px;
  margin: 80px auto 20px auto;
  box-shadow: 2px 5px 16px 0px #888b8e;
  width: 70%;
  max-width: 270px;
  min-width: 200px;
  transition: all 500ms ease-in-out;
}
.command:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 2px 5px 16px 0px #545657;
}

/*header pages restaurant (pas besoin de media querries car nommage html propre aux pages restaurant*/
.page-ohmyfood-logo {
  font-size: 30px;
  margin: auto;
}

.arrow {
  color: black;
  margin-left: 30px;
  font-size: 20px;
}

.header-pages {
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.arrow-and-logo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.picture-page-container {
  width: 100%;
  height: 270px;
}

.page-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*header page accueil*/
.logo {
  text-align: center;
  margin: 10px;
}

#ville {
  border: none;
  margin-left: 10px;
}

.city-research {
  display: flex;
  justify-content: center;
  background-color: #e8e2e2;
  padding: 20px;
}

.city {
  background-color: #e8e2e2;
}

.contain-1-header {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.reserve {
  margin: 0px 30px 0px 30px;
}

.reserve,
.discover,
.explore {
  text-align: center;
}

.title-working {
  margin-left: 30px;
}

/*retirer le point derriere les chiffres de la liste*/
.nav-working {
  margin: 20px 0px 50px 0px;
  padding: 0px;
  list-style-type: none;
  counter-reset: compteListe;
}

.working-nav-bar::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) "";
  width: 18px;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 16px;
}

.working-nav-bar {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px 20px 20px 20px;
  padding: 20px 3px;
  border: 2px #F2F2F2 solid;
  box-shadow: 2px 5px 16px 0px #888b8e;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}
.working-nav-bar:hover .pictogram {
  color: #9356DC;
}

.working-nav-bar {
  background-color: #F9F9F9;
  opacity: 0.9;
}
.working-nav-bar:hover {
  opacity: 1;
  background-color: #F2F2F2;
}

.nav {
  font-weight: 600;
}

.pictogram {
  margin-right: 20px;
  color: gray;
}

@media screen and (min-width: 869px) and (max-width: 1600px) {
  .footer-ohmyfood-logo {
    font-size: 30px;
  }
  footer {
    position: static;
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  .footer-ohmyfood-logo {
    color: white;
    margin-left: 30px;
  }
  .propose-restaurant,
.become-partnair,
.legal-mentions,
.contact {
    display: flex;
    align-items: center;
    margin: 0px 0px 7px 0px;
  }
  .propose,
.partnair {
    margin: 0px 0px 3px 0px;
  }
  .mentions,
.contact {
    margin: 3px 0px 0px 0px;
  }
  #ustensils {
    margin-right: 16px;
  }
  #handshake {
    margin-right: 10px;
  }
  .link-contact {
    text-decoration: none;
    color: inherit;
  }
}
@media screen and (max-width: 870px) {
  .footer-ohmyfood-logo {
    font-size: 20px;
  }
  .page-ohmyfood-logo {
    font-size: 25px;
  }
  footer {
    position: static;
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  .footer-ohmyfood-logo {
    color: white;
    margin-left: 33px;
  }
  .propose-restaurant,
.become-partnair,
.legal-mentions,
.contact {
    display: flex;
    margin-bottom: 6px;
  }
  #ustensils {
    margin-right: 16px;
  }
  #handshake {
    margin-right: 10px;
  }
  .link-contact {
    text-decoration: none;
    color: inherit;
  }
}
/*version Desktop et tablette*/
@media screen and (min-width: 869px) and (max-width: 1600px) {
  body .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform-origin: top;
    animation: disappear 2s 1s ease-out forwards;
  }
  @keyframes disappear {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
  .heart .heart {
    position: relative;
    width: 25px;
  }
  .heart .heart-empty {
    position: absolute;
    right: 20px;
    font-size: 25px;
    bottom: 21px;
  }
  .heart .heart-full {
    position: absolute;
    right: 20px;
    font-size: 25px;
    bottom: 21px;
    background: linear-gradient(#FF79DA, #9356DC);
    /*permet par cette action de mettre le background color en linear-gradient*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*transition*/
    transition: all 500ms linear;
    opacity: 0;
  }
  .heart:hover .heart-full {
    opacity: 1;
    transform: scale(1.1);
  }
  p {
    margin-top: 20px;
  }
  .name {
    font-size: 20px;
  }
  .place {
    font-size: 16px;
  }
  .nav-working {
    display: flex;
    justify-content: center;
  }
  .working-nav-bar {
    width: 300px;
  }
  .title-restaurant {
    margin-left: 30px;
  }
  .card-1,
.card-2,
.card-3,
.card-4 {
    max-width: 600px;
    width: 100%;
    height: 380px;
    margin: 20px;
    -webkit-box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    border-radius: 20px;
    position: relative;
  }
  .logo-new {
    position: absolute;
    color: green;
    background-color: #99E2D0;
    text-align: center;
    z-index: 99;
    right: 16px;
    margin-top: 20px;
    padding: 6px;
  }
  .picture-container {
    width: 100%;
    max-width: 600px;
    height: 300px;
  }
  /*alignement cards version desktop*/
  .desktop {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .homepage-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .clickable {
    text-decoration: none;
    color: inherit;
  }
  .restaurant-name-and-place-with-logo-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    margin: 10px 10px 0px 0px;
  }
  .restaurant-name-and-place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    margin: 10px 10px 0px 0px;
  }
  /*retirer les margin et padding par défaut afin que name and place soient plus proches*/
  p {
    margin: 0px;
    padding: 0px;
  }
  .place {
    margin-top: 5px;
  }
}
/*version mobile first*/
@media screen and (max-width: 870px) {
  body .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform-origin: top;
    animation: disappear 2s 1s ease-out forwards;
  }
  @keyframes disappear {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
  .heart .heart {
    position: relative;
    width: 25px;
  }
  .heart .heart-empty {
    position: absolute;
    right: 20px;
    font-size: 25px;
    bottom: 21px;
  }
  .heart .heart-full {
    position: absolute;
    right: 20px;
    font-size: 25px;
    bottom: 21px;
    background: linear-gradient(#FF79DA, #9356DC);
    /*permet par cette action de mettre le background color en linear-gradient*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*transition*/
    transition: all 500ms linear;
    opacity: 0;
  }
  .heart:hover .heart-full {
    opacity: 1;
    transform: scale(1.1);
  }
  /*section restaurant*/
  main {
    background-color: #F2F2F2;
  }
  .restaurant {
    margin: 20px;
    padding: 20px;
  }
  .clickable {
    text-decoration: none;
    color: inherit;
  }
  /*positionnement logo new card-1 et card-2*/
  .logo-new {
    position: absolute;
    color: green;
    background-color: #99E2D0;
    font-weight: 600;
    text-align: center;
    z-index: 99;
    right: 16px;
    margin-top: 20px;
    padding: 6px 12px;
  }
  .new {
    margin: 0px;
    padding: 1px;
  }
  /*Intégration des quatre cards restaurant*/
  .card-1,
.card-2,
.card-3,
.card-4 {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 2px 5px 16px 0px #888b8e;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .restaurant-name-and-place-with-logo-new {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
  }
  .restaurant-name-and-place {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
  }
  .name {
    margin-bottom: 3px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .picture-container {
    width: 100%;
    height: 180px;
  }
  .homepage-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    position: relative;
  }
}
/*import mixins*/
body .plate-and-side-dish {
  max-width: 100%;
  overflow: hidden;
}
body .entry-plate-dessert-title,
body .specification-seasoning-or-side-dish {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .entry,
body .plate,
body .dessert {
  overflow: hidden;
  transition: margin-right 0.5s linear;
}
body .entry:hover .check-container,
body .plate:hover .check-container,
body .dessert:hover .check-container {
  margin-right: 0px;
}
body .entry:hover i,
body .plate:hover i,
body .dessert:hover i {
  animation: spin-check 0.5s ease-in;
}
body .check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  padding: 0px;
  margin-right: -50px;
  width: 50px;
  height: 100%;
}
@keyframes spin-check {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
body .check {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  color: #99E2D0;
}

body .plate {
  opacity: 0;
  /*animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);*/
  animation-fill-mode: both;
  animation: apparition 3s forwards;
  transform: scale(0);
}
body .plate.delay-1 {
  animation-delay: 0.2s;
}
body .plate.delay-2 {
  animation-delay: 0.4s;
}
body .plate.delay-3 {
  animation-delay: 0.6s;
}
body .plate.delay-4 {
  animation-delay: 0.8s;
}
body .plate.delay-5 {
  animation-delay: 0.9s;
}
body .plate.delay-6 {
  animation-delay: 1s;
}
body .plate.delay-7 {
  animation-delay: 1.2s;
}
body .plate.delay-8 {
  animation-delay: 1.4s;
}
body .plate.delay-9 {
  animation-delay: 1.6s;
}
body .plate.delay-10 {
  animation-delay: 1.8s;
}
@keyframes apparition {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*main*/
main {
  width: 100%;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0px 0px;
  padding: 0px 0px 60px 0px;
  position: relative;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.title-section {
  margin-left: 30px;
  width: 40px;
  height: 25px;
  border-bottom: 3px #99E2D0 solid;
}

/*section menu*/
.plate {
  display: flex;
  align-items: center;
  margin: 0px 20px 7px 20px;
  padding: 0px 0px 0px 10px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 5px 16px 0px #888b8e;
  justify-content: space-between;
}

/*supression de la marge pour que tout le texte rentre dans les cards*/
.entry-plate-dessert-title {
  margin: 0px;
  font-size: 16px;
}

.specification-seasoning-or-side-dish {
  margin: 0px;
  font-size: 14px;
}

.price {
  margin: 37px 6px 0px 0px;
  font-weight: 700;
}

.price-and-check {
  display: flex;
  height: 100%;
}

.plate-clickable {
  text-decoration: none;
  color: inherit;
}

.plate-section,
.dessert-section {
  margin-top: 40px;
}

@media screen and (min-width: 869px) and (max-width: 1600px) {
  .heart-page {
    font-size: 21px;
  }
  .price {
    margin-right: 20px;
    font-size: 13px;
  }
  .entry-plate-dessert-title {
    font-size: 16px;
  }
  .specification-seasoning-or-side-dish {
    font-size: 13px;
  }
  .menu {
    width: 100%;
  }
  .desktop-menu {
    display: flex;
    width: 100%;
  }
  .entry-section,
.plate-section,
.dessert-section {
    margin: 10px;
    width: 100%;
    min-width: 200px;
  }
  .plate {
    min-width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
