@charset "UTF-8";
/*@mixin footer-rules {
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
}*/
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*importation police texte*/
p, ul, .title-section, .entry-plate-dessert-title {
  font-family: "Roboto", sans-serif;
}

/*importation police logo et titres*/
.logo, .footer-ohmyfood-logo, .page-ohmyfood-logo, h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

/*taille titre menu*/
.title-menu {
  font-size: 27px;
}

/*taille et couleur title-section*/
.title-section {
  font-size: 18px;
  color: gray;
}

/*taille plats*/
.entry-plate-dessert-title {
  font-size: 18px;
}

.logo {
  text-align: center;
  margin: 10px;
}

#ville {
  border: none;
  margin-left: 10px;
}

.city-research {
  display: flex;
  justify-content: center;
  background-color: #e8e2e2;
  padding: 20px;
}

.city {
  background-color: #e8e2e2;
}

.contain-1-header {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.reserve {
  margin: 30px 30px 0px 30px;
}

.reserve, .discover, .explore {
  text-align: center;
}

.explore {
  margin: 30px 70px;
  padding: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: inset 2px #9356DC;
}

/*header pages*/
.header-pages {
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.arrow-and-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.picture-page-container {
  width: 100%;
  height: 270px;
}

.page-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-working {
  margin-left: 30px;
}

/*retirer le point derriere les chiffres de la liste*/
.nav-working {
  margin: 20px 0px 50px 0px;
  padding: 0px;
  list-style-type: none;
  counter-reset: compteListe;
}

.working-nav-bar::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) "";
  width: 18px;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 20px;
}

.working-nav-bar {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 20px;
  padding: 7px;
  background-color: #F2F2F2;
  border: 2px #F2F2F2 solid;
  box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  border-radius: 20px;
}
.working-nav-bar:hover {
  background-color: #e9ebec;
}

#pictogram-1, #pictogram-2, #pictogram-3 {
  margin-right: 10px;
  color: gray;
}
#pictogram-1:hover, #pictogram-2:hover, #pictogram-3:hover {
  color: #9356DC;
}

/*barre de nav commander*/
.command {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  margin: 60px 70px 0px 70px;
}
.command:hover {
  opacity: 0.8;
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .footer-ohmyfood-logo {
    font-size: 30px;
  }
  footer {
    position: static;
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  .footer-ohmyfood-logo {
    color: white;
    margin-left: 30px;
  }
  .propose-restaurant, .become-partnair, .legal-mentions, .contact {
    display: flex;
    align-items: center;
    margin: 0px 0px 7px 0px;
  }
  .propose, .partnair {
    margin: 0px 0px 3px 0px;
  }
  .mentions, .contact {
    margin: 3px 0px 0px 0px;
  }
  #ustensils {
    margin-right: 16px;
  }
  #handshake {
    margin-right: 10px;
  }
  .link-contact {
    text-decoration: none;
    color: inherit;
  }
}
@media screen and (max-width: 768px) {
  .footer-ohmyfood-logo {
    font-size: 20px;
  }
  .page-ohmyfood-logo {
    font-size: 25px;
  }
  footer {
    position: static;
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  .footer-ohmyfood-logo {
    color: white;
    margin-left: 33px;
  }
  .propose-restaurant, .become-partnair, .legal-mentions, .contact {
    display: flex;
    margin-bottom: 6px;
  }
  #ustensils {
    margin-right: 16px;
  }
  #handshake {
    margin-right: 10px;
  }
  .link-contact {
    text-decoration: none;
    color: inherit;
  }
}
/*version Desktop et tablette*/
@media screen and (min-width: 769px) and (max-width: 1600px) {
  p {
    margin-top: 20px;
  }
  .name {
    font-size: 20px;
  }
  .place {
    font-size: 16px;
  }
  .nav-working {
    display: flex;
    justify-content: center;
  }
  .working-nav-bar {
    width: 300px;
  }
  .title-restaurant {
    margin-left: 30px;
  }
  .card-1,
.card-2,
.card-3,
.card-4 {
    max-width: 600px;
    height: 480px;
    margin: 20px;
    -webkit-box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    border-radius: 20px;
    position: relative;
  }
  .logo-new {
    position: absolute;
    color: green;
    background-color: #99E2D0;
    text-align: center;
    z-index: 99;
    right: 16px;
    margin-top: 20px;
    padding: 6px;
  }
  .picture-container {
    width: 100%;
    height: 400px;
  }
  /*alignement cards version desktop*/
  .desktop {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .homepage-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .clickable {
    text-decoration: none;
    color: inherit;
  }
  .restaurant-name-and-place-with-logo-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    margin: 10px 10px 0px 0px;
  }
  .restaurant-name-and-place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    margin: 10px 10px 0px 0px;
  }
  .heart {
    position: relative;
    width: 25px;
    height: 25px;
    transform: scale(0.1);
    transition-duration: 1000ms;
  }
  .heart:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: inherit;
    position: absolute;
    right: 3px;
    top: 2px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
  /*retirer les margin et padding par défaut afin que name and place soient plus proches*/
  p {
    margin: 0px;
    padding: 0px;
  }
  .place {
    margin-top: 5px;
  }
}
/*version mobile first*/
@media screen and (max-width: 768px) {
  /*loading-spinner*/
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    15% {
      transform: translate3d(-50%, -50%, 0);
    }
    40% {
      transform: translate3d(-50%, -50%, 0);
    }
    75% {
      transform: translate3d(-50%, -50%, 0);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .loading-spinner::before {
    animation: 1s linear spinner backwards;
    animation-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    width: 300px;
    height: 300px;
    border: 3px black solid;
    border-radius: 50%;
    border-bottom-color: violet;
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: scaleX(0);
  }
  /*section restaurant*/
  main {
    background-color: #F2F2F2;
  }
  .restaurant {
    margin: 20px;
    padding: 20px;
  }
  .clickable {
    text-decoration: none;
    color: inherit;
  }
  /*positionnement logo new card-1 et card-2*/
  .logo-new {
    position: absolute;
    color: green;
    background-color: #99E2D0;
    text-align: center;
    z-index: 99;
    right: 50px;
    margin: 10px;
    padding: 0px 6px 0px 6px;
  }
  .new {
    margin: 0px;
    padding: 1px;
  }
  /*Intégration des quatre cards restaurant*/
  .card-1,
.card-2,
.card-3,
.card-4 {
    width: 100%;
    height: 250px;
    -webkit-box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .restaurant-name-and-place-with-logo-new {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
  }
  .restaurant-name-and-place {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
  }
  .name {
    margin-bottom: 3px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .picture-container {
    width: 100%;
    height: 180px;
  }
  .homepage-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    position: relative;
  }
  .heart {
    position: relative;
    width: 25px;
    height: 25px;
  }
  .heart i:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: inherit;
    position: absolute;
    right: 3px;
    top: 2px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .desktop-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .entry, .plate, .dessert {
    max-width: 800px;
  }
}
/*main*/
.menu {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0px 0px;
  padding: 0px 0px 60px 0px;
  position: relative;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.title-section {
  margin-left: 30px;
}

/*section menu*/
.entry, .plate, .dessert {
  display: flex;
  align-items: center;
  margin: 0px 20px 7px 20px;
  padding: 0px 0px 0px 10px;
  height: 70px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  justify-content: space-between;
}

/*supression de la marge pour que tout le texte rentre dans les cards*/
.entry-plate-dessert-title, .specification-seasoning-or-side-dish {
  margin: 0px;
}

.price {
  margin: 37px 10px 0px 0px;
}

.price-and-check {
  display: flex;
  height: 100%;
}

.plate-clickable {
  text-decoration: none;
  color: inherit;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 0px 3s;
  transition-timing-function: linear;
  float: right;
  opacity: 0;
  transition: background-position 150ms ease-out;
}
.check-container:hover {
  opacity: 1;
  width: 50px;
}

.check {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  color: #99E2D0;
}

/*... maquette*/
#espuma {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*... maquette*/
#truffe {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#légumes {
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
