@charset "UTF-8";
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*importation police texte*/
p, ul {
  font-family: "Roboto", sans-serif;
}

/*importation police logo et titres*/
.logo, .footer-ohmyfood-logo, h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-size: 16px;
}

.footer-ohmyfood-logo {
  font-size: 20px;
}

.logo {
  text-align: center;
  margin: 10px;
}

#ville {
  border: none;
  margin-left: 10px;
}

.city-research {
  display: flex;
  justify-content: center;
  background-color: #e8e2e2;
  padding: 20px;
}

.city {
  background-color: #e8e2e2;
}

.contain-1-header {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.reserve {
  margin: 30px 30px 0px 30px;
}

.reserve, .discover, .explore {
  text-align: center;
}

.explore {
  margin: 30px 70px;
  padding: 15px;
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
  box-shadow: inset 2px #9356DC;
}

/*header pages*/
.title-working {
  margin-left: 30px;
}

/*retirer le point derriere les chiffres de la liste*/
.nav-working {
  margin: 20px 0px 50px 0px;
  padding: 0px;
  list-style-type: none;
  counter-reset: compteListe;
}

.working-nav-bar::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) "";
  width: 18px;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 20px;
}

.working-nav-bar {
  display: flex;
  align-items: center;
  margin: 0px 30px 20px 30px;
  padding: 7px;
  background-color: #F2F2F2;
  border: 2px #F2F2F2 solid;
  box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  border-radius: 20px;
}
.working-nav-bar:hover {
  background-color: #e9ebec;
}

#pictogram-1, #pictogram-2, #pictogram-3 {
  margin-right: 10px;
  color: gray;
}
#pictogram-1:hover, #pictogram-2:hover, #pictogram-3:hover {
  color: #9356DC;
}

footer {
  color: white;
  background-color: #454343;
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
}

.footer-ohmyfood-logo {
  color: white;
  margin-left: 33px;
}

.propose-restaurant, .become-partnair, .legal-mentions, .contact {
  display: flex;
  margin-bottom: 6px;
}

#ustensils {
  margin-right: 16px;
}

#handshake {
  margin-right: 10px;
}

/*section restaurant*/
main {
  background-color: #F2F2F2;
}

.restaurant {
  margin: 20px;
  padding: 20px;
}

/*positionnement logo new card-1 et card-2*/
.logo-new {
  width: 100px;
  position: absolute;
  color: green;
  background-color: #99E2D0;
  text-align: center;
  z-index: 99;
  right: 50px;
  margin-top: 10px;
}

/*Intégration des quatre cards restaurant*/
.card-1, .card-2, .card-3, .card-4 {
  width: 100%;
  height: 250px;
  -webkit-box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  box-shadow: 2px 5px 16px 0px #c3c7ca, inset -48px -37px 48px -30px #F2F2F2;
  border-radius: 20px;
  margin-bottom: 20px;
}

/*pour que le coeur ressorte sur la card-1 et card-2 car espace provoqué par le logo new mis en position relative*/
.restaurant-name-and-place-with-logo-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
}

.restaurant-name-and-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
}

.heart {
  font-size: 25px;
}

.picture-container {
  width: 100%;
  height: 180px;
}

.homepage-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

/*retirer les margin et padding par défaut afin que name and place soient plus proches*/
p {
  margin: 0px;
  padding: 0px;
}

.place {
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
