/*boutton explorer*/
.explore {
    margin: 30px 70px;
    cursor: pointer;
    padding: 15px;
    border: none;
    color: white;
    font-weight: 600;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    box-shadow: $shadow;
    transition: transform all 2.5s;
    
    
    &:hover {
        background: linear-gradient(lighten(#FF79DA, 5%), lighten(#9356DC, 5%));
        box-shadow: darken(#2e2e2f, 100%);    
        
    }
}

/*boutton commander*/
.command {
    background: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 3px 10px 3px;
    margin: 80px auto 20px auto;
    box-shadow: $shadow;
    width: 70%;
    max-width: 270px;
    min-width: 200px;
  
      &:hover {
        background: linear-gradient(lighten(#FF79DA, 5%), lighten(#9356DC, 5%));
        box-shadow: darken(#888b8e, 75%);
    }
}
