/*importation police texte*/
p,
ul,
.title-section,
.entry-plate-dessert-title {
    font-family: 'Roboto', sans-serif;
}

/*importation police logo et titres*/
.logo,
.footer-ohmyfood-logo,
.page-ohmyfood-logo,
h1,
h2,
h3 {
    font-family: 'Shrikhand', cursive;
}

/*taille titre menu*/
.title-menu {
    font-size: 27px;
}

/*taille et couleur title-section*/
.title-section {
    font-size: 18px;
    color: gray;
}

/*taille plats*/
.entry-plate-dessert-title {
    font-size: 18px;
}