/*import mixins*/
body {
    @include ellipsis
}

body {
    @include check
}

body {
    @include plate-animation
}

/*main*/
main {
    width: 100%;
}

.menu {
    background-color: #F2F2F2;
    border-radius: 30px 30px 0px 0px;
    padding: 0px 0px 60px 0px;
    position: relative;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.title-section {
    margin-left: 30px;
    width: 40px;
    height: 25px;
    border-bottom: 3px $tertiary-color solid;
}

/*section menu*/
.plate {
    display: flex;
    align-items: center;
    margin: 0px 20px 7px 20px;
    padding: 0px 0px 0px 10px;
    height: 70px;
    border-radius: 20px;
    box-shadow: $shadow;
    justify-content: space-between;
}

/*supression de la marge pour que tout le texte rentre dans les cards*/
.entry-plate-dessert-title {
    margin: 0px;
    font-size: 16px;
}

.specification-seasoning-or-side-dish {
    margin: 0px;
    font-size: 14px;
}

.price {
    margin: 37px 6px 0px 0px;
    font-weight: 700;
}

.price-and-check {
    display: flex;
    height: 100%;
}

.plate-clickable {
    text-decoration: none;
    color: inherit;
}

.plate-section,
.dessert-section {
    margin-top: 40px;
}



@media screen and (min-width: 869px) and (max-width: 1920px) {
    .heart-page {
        font-size: 21px;
        @include heart-page;
    }

    .price {
        margin-right: 20px;
        font-size: 13px;
    }

    .entry-plate-dessert-title {
        font-size: 16px;
    }

    .specification-seasoning-or-side-dish {
        font-size: 13px;
    }

    .menu {
        width: 100%;
    }

    .desktop-menu {
        display: flex;
        width: 100%;
    }

    .entry-section,
    .plate-section,
    .dessert-section {
        margin: 10px;
        width: 100%;
        min-width: 200px;
    }

    .plate {
        min-width: 200px;
    }

}
/*version mobile first pour le coeur*/
@media screen and (max-width: 870px) {
    .heart-page {
        @include heart-page
    }  
}