/*... maquette*/
#truffe {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#légumes {
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
