/*mixin loader*/
@mixin loader {
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        animation: disappear 2s ease-out forwards;
    }

    @keyframes disappear {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1);
            visibility: hidden;
        }
    }
}

.loader::after {
    width: 100px;
    height: 100px;
    content: "";
    border: 9px solid #ddd;
    border-top-color: $tertiary-color;
    border-radius: 50%;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1160deg);

    }
}

/*disparition de la page pendant l'attente du loading*/
.page-disparition-for-animation-loader {
    opacity: 1;
    width: 100%;
    height: 100%;
    animation: disparition 4s ease-in;
}

@keyframes disparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*mixin heart-welcoming.scss*/
@mixin heart {
    .heart {
        position: relative;
        width: 25px;
    }

    .heart-empty {
        position: absolute;
        right: 10px;
        font-size: 25px;
        bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }

    .heart-full {
        position: absolute;
        right: 10px;
        font-size: 25px;
        bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: linear-gradient($secondary-color, $primary-color);
        /*permet par cette action de mettre le background color en linear-gradient*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*transition*/
        transition: all 500ms linear;
        opacity: 0;
    }

    &:hover .heart-full {
        opacity: 1;
        transform: scale(1.1);
    }

    &:active .heart-full {
        opacity: 1;
        transform: scale(1.1);
    }
}
/*mixin heart-page*/
@mixin heart-page {
    .heart-page {
        position: relative;
        width: 50px;
        height: 50px;
    }

    .heart-page-empty {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }

    .heart-page-full {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: linear-gradient($secondary-color, $primary-color);
        /*permet par cette action de mettre le background color en linear-gradient*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*transition*/
        transition: all 500ms linear;
        opacity: 0;
    }

    &:hover .heart-page-full {
        opacity: 1;
        transform: scale(1.1);
    }

    &:active .heart-page-full {
        opacity: 1;
        transform: scale(1.1);
    }
}

/*mixin ellipsis*/
@mixin ellipsis {
    .plate-and-side-dish {
        max-width: 100%;
        overflow: hidden;
    }

    .entry-plate-dessert-title,
    .specification-seasoning-or-side-dish {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/*mixin check*/
@mixin check {

    .entry,
    .plate,
    .dessert {
        overflow: hidden;
        transition: margin-right 0.5s linear;

        &:hover .check-container {
            margin-right: 0px;
        }

        &:hover i {
            animation: spin-check 0.5s ease-in;
        }
    }

    .check-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary-color;
        border-radius: 0px 20px 20px 0px;
        padding: 0px;
        margin-right: -50px;
        width: 50px;
        height: 100%;
    }

    @keyframes spin-check {
        from {
            transform: rotate(-270deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    .check {
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 30px;
        color: $tertiary-color;
    }
}

/*mixin animation plats*/
@mixin plate-animation {
    .plate {
        opacity: 0;
        /*animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);*/
        animation-fill-mode: both;
        animation: apparition 3s forwards;
        transform: scale(0);

        &.delay-1 {
            animation-delay: 0.20s;
        }

        &.delay-2 {
            animation-delay: 0.40s;
        }

        &.delay-3 {
            animation-delay: 0.60s;
        }

        &.delay-4 {
            animation-delay: 0.80s;
        }

        &.delay-5 {
            animation-delay: 0.90s;
        }

        &.delay-6 {
            animation-delay: 1s;
        }

        &.delay-7 {
            animation-delay: 1.20s;
        }

        &.delay-8 {
            animation-delay: 1.40s;
        }

        &.delay-9 {
            animation-delay: 1.60s;
        }

        &.delay-10 {
            animation-delay: 1.80s;
        }
    }

    @keyframes apparition {
        from {
            transform: translateY(50%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}