footer {
    color: white;
    background-color: #454343;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
}
.footer-ohmyfood-logo {
    color: white;
    size: 5px;
    margin-left: 33px;
}
.propose-restaurant, .become-partnair, .legal-mentions, .contact {
    display: flex;
    margin-bottom: 6px;
}
#ustensils {
margin-right: 16px;
}
#handshake {
    margin-right: 10px;
}
