/*header pages restaurant (pas besoin de media querries car nommage html propre aux pages restaurant*/
.page-ohmyfood-logo {
    font-size: 30px;
    margin: auto;
}

.arrow {
    color: black;
    margin-left: 30px;
    font-size: 20px;
}

.header-pages {
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.arrow-and-logo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.picture-page-container {
    width: 100%;
    height: 270px;
}

.page-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*header page accueil*/
.logo {
    text-align: center;
    margin: 10px;

}

#ville {
    border: none;
    margin-left: 10px;
}

.city-research {
    display: flex;
    justify-content: center;
    background-color: #e8e2e2;
    padding: 20px;
}

.city {
    background-color: #e8e2e2;
}

.contain-1-header {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.reserve {
    margin: 30px 30px 0px 30px;

}

.reserve,
.discover,
.explore {
    text-align: center;
}